
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.bloc1{
    background: url("../assets/images/fond1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: auto;
}
.bloc2{
    background: url("../assets/images/4.1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: auto;
}
.bloc1 div{
    height: 50%;
}
.carre{
    height: 300px;
}
.trailer{
    text-decoration: none;
    color: white;
    height: 300px;
}